@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');
@import "tailwindcss";
  
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  overflow: hidden;
  background-color: #1f2628;
  color: white;
}

/*
secondary :black : #111315
teriary : grey : #1f2628
primary : golden : #c69909
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;   
  margin: 0;
}

/* For Firefox (optional, if anyone uses it) */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

div.dt-container .dt-search label,
div.dt-container .dt-length label,
div.dt-container .dt-info {
  color: #c69909 !important;
  font-weight: 500;
}

div.dt-container .dt-search input,
div.dt-container .dt-input {
  background-color: #111315 !important;
  border: 1px solid rgba(198, 153, 9, 0.4) !important;
  color: #BDBDBD !important;
  border-radius: 6px;
  margin-left: 0.5em;
  padding: 6px;
}

table.dataTable {
  border-collapse: collapse;
  border: 2px solid black;
}

div.dt-container .dt-search input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c69909;
}

table.dataTable>thead>tr>th {
  color: #c69909 !important;
  font-weight: bold;
}

table.dataTable th,
table.dataTable td {
  border: 2px solid black;
}

table.dataTable>tbody>tr>td {
  color: #BDBDBD;
}

table.dataTable>tbody>tr>td {
  border-top: 2px solid black;
}

table.dataTable>tbody>tr:hover {
  background-color: rgba(198, 153, 9, 0.15) !important;
}

div.dt-container .dt-paging .dt-paging-button {
  color: #1f2628 !important;
  border: 1px solid transparent !important;
}

div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  background: #c69909 !important;
  color: black !important;
  border-radius: 9999px;
  border: 1px solid #c69909 !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  background: rgba(198, 153, 9, 0.5) !important;
  color: white !important;
  border-radius: 9999px;
  border: 1px solid transparent !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled {
  opacity: 0.3;
}
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  
}

.react-datepicker-popper { z-index: 50 !important; }
.react-datepicker { background-color: #111315 !important; border-color: #4A5568 !important; border-radius: 0.5rem; font-family: 'Manrope', sans-serif; }
.react-datepicker__navigation { top: 0.75rem !important; }
.react-datepicker__navigation button { color: #c69909; }
.react-datepicker__header { background-color: #1f2628 !important; border-bottom: 1px solid #4a5568 !important; }
.react-datepicker__current-month, .react-datepicker__day-name { color: white !important; font-weight: bold; }
.react-datepicker__day { color: white !important; }
.react-datepicker__day:hover { background-color: #2D3748 !important; border-radius: 9999px; }
.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected { background-color: #c69909 !important; color: black !important; border-radius: 9999px; }
.react-datepicker__day--disabled { color: #4a5568 !important; }
.react-datepicker__input-time-container { margin: 0.5rem 0 !important; }
.react-datepicker__input-time-container .react-datepicker-time__caption { color: #A0AEC0; }
.react-datepicker-time__input-container .react-datepicker-time__input { background-color: #111315; border: 1px solid #4a5568; border-radius: 0.375rem; padding: 0.5rem; width: 100%; }
.react-datepicker-time__input-container .react-datepicker-time__input input { color: white !important; }